.navbar4-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar4-navbar-interactive {
  width: 100%;
  height: 212px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 3px;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.navbar4-image {
  top: 18px;
  left: 102px;
  width: 280px;
  height: 168px;
  position: absolute;
  object-fit: cover;
}
.navbar4-container1 {
  flex: 0 0 auto;
  width: auto;
  height: var(--dl-size-size-large);
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.navbar4-desktop-menu {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.navbar4-links {
  gap: var(--dl-space-space-twounits);
  top: 61px;
  flex: 1;
  right: -1105px;
  width: 429px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.navbar4-link1 {
  font-size: 20px;
}
.navbar4-link2 {
  font-size: 20px;
  text-align: right;
  text-decoration: none;
}
.navbar4-link4 {
  font-size: 20px;
  text-align: right;
  text-decoration: none;
}
.navbar4-link3 {
  font-size: 20px;
  text-align: right;
  text-decoration: none;
}
.navbar4-burger-menu {
  display: none;
}
.navbar4-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar4-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar4-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar4-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar4-logo {
  height: 3rem;
}
.navbar4-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar4-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar4-links1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar4-buttons {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
}
.navbar4-root-class-name {
  background-color: transparent;
}
@media(max-width: 767px) {
  .navbar4-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar4-desktop-menu {
    display: none;
  }
  .navbar4-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar4-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar4-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.hero9-header30 {
  gap: var(--dl-space-space-twounits);
  width: 1206px;
  height: 296px;
  align-items: flex-start;
  padding-top: 3px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.hero9-image {
  top: -8px;
  right: 0px;
  width: 100%;
  height: 292px;
  position: absolute;
  object-fit: cover;
}
.hero9-container {
  top: 0px;
  left: 6px;
  width: 1191px;
  height: 274px;
  display: flex;
  opacity: 0.8;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255,255,255,0.7);
}
.hero9-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero9-content {
  gap: var(--dl-space-space-oneandhalfunits);
  height: 157px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero9-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.hero9-actions {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
}
.hero9-text {
  text-align: center;
}
.hero9-text1 {
  text-align: center;
}




@media(max-width: 991px) {
  .hero9-text {
    text-align: center;
  }
  .hero9-text1 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .hero9-actions {
    width: 100%;
    flex-direction: column;
  }
}

.cta4-container {
  width: 100%;
  height: 636px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 36px;
}
.cta4-max-width {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.cta4-container1 {
  width: 100%;
  height: 790px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.cta4-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 515px;
  height: 440px;
  display: flex;
  align-items: flex-start;
  padding-left: 6px;
  flex-direction: column;
}
.cta4-text {
  fill: #045c8c;
  color: #045c8c;
}
.cta4-text1 {
  fill: #045c8c;
  color: #045c8c;
}
.cta4-text2 {
  width: 485px;
  text-align: justify;
}
.cta4-link {
  top: 470px;
  left: 410px;
  color: #ffffff;
  position: absolute;
  align-self: flex-start;
  text-decoration: none;
  background-color: #000000;
}
.cta4-link1 {
  top: 472px;
  left: 785px;
  color: #ffffff;
  position: absolute;
  align-self: flex-start;
  text-decoration: none;
  background-color: #000000;
}
@media(max-width: 991px) {
  .cta4-container1 {
    flex-direction: column;
  }
}

.features1-layout251 {
  width: 1200px;
  height: 1073px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: 0px;
}
.features1-max-width {
  gap: var(--dl-space-space-threeunits);
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.features1-column {
  gap: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-shrink: 0;
}
.features1-text {
  fill: #045c8c;
  color: #045c8c;
}
.features1-content {
  gap: 48px;
  height: 916px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.features1-row {
  width: 1154px;
  height: 100%;
  align-items: flex-start;
}
.features1-feature1 {
  flex: 1;
  height: 915px;
}
.features1-feature1-image {
  width: 267px;
  height: 354px;
}
.features1-content1 {
  height: 50%;
  align-self: stretch;
  align-items: flex-start;
}
.features1-feature1-title {
  width: 267px;
}
.features1-feature1image2 {
  top: 87px;
  right: 0px;
  width: 262px;
  height: 179px;
  position: absolute;
  object-fit: cover;
}
.features1-feature1-description {
  right: -3px;
  width: 267px;
  bottom: -24px;
  position: absolute;
}
.features1-feature4 {
  flex: 1;
  height: 914px;
}
.features1-feature4-image {
  width: 267px;
  height: 355px;
}
.features1-feature4-title {
  width: 267px;
  height: 52px;
}
.features1-content2 {
  height: 446px;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.features1-feature4-description {
  left: -1px;
  width: 267px;
  bottom: 0px;
  position: absolute;
}
.features1-feature1-image1 {
  top: -3px;
  right: 0px;
  width: 264px;
  height: 236px;
  position: absolute;
}
.features1-feature2 {
  flex: 1;
}
.features1-feature2-image {
  width: 267px;
  height: 355px;
}
.features1-content3 {
  height: 498px;
  align-self: stretch;
  align-items: flex-start;
}
.features1-image {
  width: 200px;
  object-fit: cover;
}
.features1-feature2-description {
  top: 311px;
  left: 1px;
  width: 267px;
  position: absolute;
}
.features1-feature3 {
  flex: 1;
  width: 267px;
}
.features1-feature3-image {
  height: 355px;
}
.features1-content4 {
  height: 534px;
  align-self: stretch;
  align-items: flex-start;
}
.features1-image1 {
  top: 89px;
  left: -1px;
  width: 267px;
  height: 205px;
  position: absolute;
  object-fit: cover;
}
.features1-feature3-description {
  top: 316px;
  right: -4px;
  position: absolute;
}
.features1-button {
  left: 426px;
  bottom: 3px;
  display: flex;
  position: absolute;
  align-self: center;
  flex-direction: row;
}
.features1-actions {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-items: flex-start;
}
@media(max-width: 991px) {
  .features1-section-title {
    align-items: flex-start;
    flex-direction: column;
  }
  .features1-feature1-image {
    height: 260px;
  }
  .features1-feature4-image {
    height: 260px;
  }
  .features1-feature1-image1 {
    height: 260px;
  }
  .features1-feature2-image {
    height: 260px;
  }
  .features1-feature3-image {
    height: 260px;
  }
}
@media(max-width: 767px) {
  .features1-column {
    width: 100%;
  }
  .features1-text {
    text-align: center;
  }
  .features1-row {
    flex-direction: column;
  }
  .features1-feature1-image {
    width: 100%;
  }
  .features1-feature4-image {
    width: 100%;
  }
  .features1-feature1-image1 {
    width: 100%;
  }
  .features1-feature2 {
    width: auto;
  }
  .features1-feature2-image {
    width: 100%;
  }
  .features1-feature3 {
    width: auto;
  }
  .features1-actions {
    flex-wrap: wrap;
  }
}
@media(max-width: 479px) {
  .features1-button {
    width: 100%;
  }
  .features1-actions {
    width: 100%;
    flex-direction: column;
  }
}

.contact-form7-contact1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact-form7-max-width {
  align-items: flex-start;
}
.contact-form7-section-title {
  gap: var(--dl-space-space-unit);
  width: 40%;
  align-items: flex-start;
}
.contact-form7-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.contact-form7-text {
  color: #045c8c;
}
.contact-form7-form {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 60%;
}
.contact-form7-container {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contact-form7-input {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form7-input1 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form7-container1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contact-form7-input2 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form7-input3 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form7-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form7-input4 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form7-button {
  align-self: flex-start;
  border-color: #045c8c;
  border-width: 3px;
  background-color: var(--dl-color-theme-neutral-dark);
}
.contact-form7-action1 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .contact-form7-max-width {
    align-items: flex-start;
    flex-direction: column;
  }
  .contact-form7-section-title {
    width: 100%;
  }
  .contact-form7-form {
    width: 100%;
  }
  .contact-form7-container {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form7-input {
    width: 50%;
  }
  .contact-form7-input1 {
    width: 50%;
    flex-direction: column;
  }
  .contact-form7-container1 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form7-input2 {
    width: 50%;
  }
  .contact-form7-input3 {
    width: 50%;
  }
  .contact-form7-container2 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-direction: row;
  }
}
@media(max-width: 479px) {
  .contact-form7-text1 {
    text-align: center;
  }
  .contact-form7-form {
    padding: var(--dl-space-space-unit);
  }
  .contact-form7-container {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form7-input {
    width: 100%;
  }
  .contact-form7-input1 {
    width: 100%;
  }
  .contact-form7-container1 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form7-input2 {
    width: 100%;
  }
  .contact-form7-input3 {
    width: 100%;
  }
}

.footer14-container {
  width: 100%;
  height: 569px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer14-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: 389px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.footer14-content {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.footer14-image1 {
  width: 252px;
  height: 98px;
  align-self: center;
}
.footer14-actions {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer14-links {
  flex: 1;
  display: flex;
}
.footer14-column1 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 360px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.footer14-content1 {
  top: 36px;
  left: 145px;
  position: absolute;
}
.footer14-column1-title {
  top: 3px;
  left: 157px;
  position: absolute;
}
.footer14-content11 {
  top: 53px;
  left: 125px;
  position: absolute;
}
.footer14-column2 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  height: 194px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.footer14-column1-title1 {
  top: 3px;
  left: 133px;
  position: absolute;
}
.footer14-footer-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer14-link2 {
  left: 146px;
  bottom: -61px;
  position: absolute;
  font-style: normal;
  font-weight: 700;
}
.footer14-link4 {
  left: 144px;
  bottom: -143px;
  position: absolute;
  font-style: normal;
  font-weight: 700;
}
.footer14-link3 {
  left: 70px;
  bottom: 7px;
  position: absolute;
  text-decoration: none;
}
.footer14-link5 {
  top: 141px;
  left: 144px;
  position: absolute;
  text-decoration: none;
}
.footer14-link21 {
  top: 61px;
  left: 140px;
  position: absolute;
  text-decoration: none;
}
.footer14-link31 {
  top: 87px;
  left: 60px;
  position: absolute;
  text-decoration: none;
}
.footer14-column3 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer14-column2-title {
  align-self: center;
}
.footer14-footer-links1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer14-link6 {
  padding-top: 3px;
  border-color: var(--dl-color-theme-primary2);
  border-width: 3px;
  padding-left: 3px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 3px;
  padding-bottom: 3px;
  border-left-width: 3px;
}
.footer14-link7 {
  padding-top: 3px;
  border-color: var(--dl-color-theme-primary2);
  border-width: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
}
.footer14-link8 {
  padding-top: 3px;
  border-color: var(--dl-color-theme-primary2);
  border-width: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
}
.footer14-divider1 {
  left: -5px;
  bottom: 17px;
  position: absolute;
}




@media(max-width: 991px) {
  .footer14-column1 {
    max-width: 100%;
  }
  .footer14-column2 {
    max-width: 100%;
  }
  .footer14-column3 {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .footer14-content {
    gap: var(--dl-space-space-twounits);
    width: auto;
    align-self: stretch;
    flex-direction: column;
  }
  .footer14-actions {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer14-column1 {
    align-items: center;
  }
  .footer14-column1-title {
    text-align: center;
  }
  .footer14-column2 {
    align-items: center;
  }
  .footer14-column1-title1 {
    text-align: center;
  }
  .footer14-footer-links {
    align-self: center;
  }
  .footer14-column3 {
    align-items: center;
  }
  .footer14-column2-title {
    text-align: center;
  }
  .footer14-footer-links1 {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .footer14-content {
    gap: var(--dl-space-space-unit);
  }
  .footer14-image1 {
    height: 3rem;
  }
  .footer14-links {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .footer14-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer14-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer14-footer-links {
    align-items: center;
    justify-content: center;
  }
  .footer14-column3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer14-footer-links1 {
    align-items: center;
    justify-content: center;
  }
}

.index-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #D9D9D9;
}
